@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Sofia+Sans&display=swap');
@import url('//fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Sofia+Sans&display=swap');
@import url('//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900');


.search{
    color: black;
    background-color: white;
    font-size: 35px;
}

