@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sofia+Sans:wght@200&display=swap');

*{
    /* background-color: #2B4F60;  */
    color: white; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    Font-family: Calibri
  }


